html{
    background-color: rgb(37, 37, 37);
    font-family: 'Raleway', sans-serif;

}
.login-window{
    position: relative;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    width: 600px;
    border: 1px solid white;
    border-radius: 10px;
}
.user-input{
    margin-bottom: 30px;
}
#signInBtn{
    margin-bottom: 50px;
}